#join{
    font-weight: bold;
}
body{
    background-color: rgb(92, 91, 91);
    color: white;
    display: flex;
    flex-direction: column;
}
main{
    text-align: center;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
header{
    height: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
footer{
    height: 10vh;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
a:hover{
    text-decoration: underline;
    color:black
}
ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    flex-direction: row;
}
.banner{
    
}
hr{
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    height: 5%;
}