*{
    font-family: "Fredoka", sans-serif;
}

#join{
    font-weight: bold;
}
.body{
    background-color: rgba(8, 4, 33, 0.623);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    position: relative;
    text-align: center;
    flex:1;
    min-height: 0;
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
header{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #531923;
    border-bottom: #eee solid 1px;
    flex-shrink: 0;

}
footer{
    
    background-color: #531923;
    justify-content: center;
    border-top:#eee solid 1px;
    margin-top:auto;
    flex-shrink: 0;
    
}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
a:hover{
    text-decoration: underline;
    color:black
}
ul{
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    flex-direction: row;
}
.banner{
    font-family:"Rubik Wet Paint", cursive;
    font-size: 7rem;
    margin-top: 1rem;
}


/* Results Page Styles */
.results {
  width: 100%;
  padding: 0 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  grid-auto-rows: auto;
  gap: 1.25rem;
  justify-content: center;
  align-items: center;
}
.result-card {
  background: #000000;
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}
.result-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.1);
}
.card-footer {
  margin-top: 0.75rem;
  padding-top: 0.5rem;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
}
.winner-label {
  font-weight: 600;
  color: #2e7d32;
}
.winner {
  background: #173a23;
  border-radius: 10px;
  padding: 0.5rem;
}
.vs {
  font-weight: bold;
  color: #900a0a;
  font-size: 1.5rem;
}


/* Play Page Styles */
.play-main {
    text-align: center;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

@media (max-width: 950px) {
    .play-main {
        flex-direction: column;
        gap: 2rem;
    }
    
}

#playVS {
    font-weight: bold;
    color: #900a0a;
    font-size: 6rem;
}

.food-card {
    background: #4e4949;
    border-radius: 14px;
    border-color:black;
    border: thick solid black;
    padding: 1rem 3rem;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voter {
    margin-top: 1rem;
}

.notif{
    position:absolute;
    top: 0;
    right: 0;
    padding: 0.5rem 1rem;
}
